<?xml version="1.0"?>
<model>
  <name>irrigation_pipe</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>

  <author>
    <name>Vineyard Mower Project</name>
    <email>dev@vineyard-mower.com</email>
  </author>

  <description>
    Irrigation pipe system for vineyard
  </description>
</model>
