<?xml version="1.0"?>
<model>
  <name>vineyard_post</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>

  <author>
    <name>Vineyard Mower Project</name>
    <email>dev@vineyard-mower.com</email>
  </author>

  <description>
    A vineyard support post with trellis wire attachments
  </description>
</model>
